* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }

 body{
    background-color: rgb(244, 250, 250);
 }

.main-content{
    min-height: 1000px;
    width: 90%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 300px 700px;
}

.left-section{
    grid-column: span 1;
    background-color: #34baba;
}

.right-section{
    grid-column: span 1/ span 2;
    background-color: rgb(183, 226, 248);
}

.left-content{
    padding: 1rem;
}

.profile-image{
    align-items: center;
    display: block;
    margin: auto;
    border: 5px solid white;
    border-radius: 30%;
    width: 60%;
}

.name{
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    padding: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    color: white;
}

.designation{
   font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 0.5rem;
    color: aquamarine;
}

.description{
    font-size: 0.75rem;
    text-align: center;
    padding: 1rem;
    color: white;
}

a{
    margin: 21px;
    text-decoration: none;
    
}

.skills{
     font-size: 0.75rem; 
    text-align: center;
    text-transform: uppercase;
    padding: 1rem 0.5rem;
    color: white;
}

.skill-name{
    font-size: 0.65rem;
    font-weight: 0.65rem;
    text-align: left;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;

}
.icons a{
    color: white;
}

.progress-bar{
    border: 1px white solid ;
    height: 4px;
    background-color: azure;
    border-radius: 10px;
}

.right-main-content{
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.right-title{
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0.5rem;
    letter-spacing: 1px;
}

.education{
    padding: 0.5rem;
}

.p{
    padding: 0.5rem;
}

h4{
    padding-top: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
}
.experience{
    padding: 0.5rem;
}

@media screen and (max-width: 673px){
  .main-content{
    grid-template-columns: repeat(1,1fr);
  }
  .profile-image img{
    width: 175px;;
  }
}

